* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ---------- NAVBAR ------------ */
nav {
  padding: 40px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu-icon {
  display: none;
}
nav .logo {
  width: 110px;
  cursor: pointer;
}
nav .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
nav .list .list-item {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
}
.btn {
  padding: 1px 13px;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: linear-gradient(90deg, #955cf1, #ff8adc);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: scale(1.03);
}

/* ------------------------------ */

/* ---------- CONTAINER --------- */

.container {
  padding: 0 50px 0 150px;
  display: flex;
  justify-content: start;
}
.container .container-left h1 {
  margin-top: 130px;
  font-size: 4rem;
  color: #3e4794;
}
.container .container-left p {
  margin: 50px 0;
  width: 27vw;
  font-size: 1rem;
  line-height: 25px;
  color: #a0a0a0;
}
.btn-large {
  padding: 5px 30px;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: linear-gradient(90deg, #955cf1, #ff8adc);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
.btn-large:hover {
  transform: scale(1.03);
}
.container .container-right .images .background-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 64vw;
}
.container .container-right .images .vector-image {
  position: absolute;
  top: 120px;
  right: 55px;
  width: 60vw;
}

/* Responsive CSS */
@media only screen and (max-width: 1024px) {
  nav {
    padding: 30px 5%;
  }
  nav .logo {
    width: 5rem;
  }
  nav .list .list-item {
    font-size: 0.8rem;
  }
  .container {
    padding-left: 5%;
  }
  .container .container-left h1 {
    font-size: 3rem;
  }
  .container .container-left p {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
  .container .container-right .images .vector-image {
    width: 50vw;
    z-index: -1;
  }
  .btn-large {
    padding: 8px 20px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  nav .list {
    display: none;
  }
  nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  nav .menu-icon {
    display: block;
  }
  nav .logo {
    width: 3rem;
  }
  .container .container-left h1 {
    margin-top: 3rem;
  }
  .container .container-left p {
    width: 40ch;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    padding: 0 5%;
  }
  .container .container-left {
    margin: 0 auto;
    text-align: center;
  }
  .container .container-left h1 {
    margin-top: 18rem;
  }
  .container .container-left p {
    width: auto;
  }
  .container .container-right .images .background-image {
    width: 80vw;
  }
  .container .container-right .images .vector-image {
    width: 70vw;
  }
}
